@charset "utf-8";

// Third Party Libraries
@import "node_modules/reset-css/sass/_reset";

// Variables
$text-color: #212121;
$white: #e9e9e9;
$light-gray-background: #F5F5F5;
$gray-background: #535353;
$separator-color: #CDCDCD;
$gutter: 30px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $text-color;

  &:visited {
    color: $text-color;
  }
}

h1, h2 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 38px;
  margin-bottom: 40px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.container{
  max-width: 1200px;
  margin: auto;
}

header {
  background: url('/img/bg.png');
  background-size: cover;
  color: white;
}